h1='Lista de productos'
        hr
        if products.length>0
            table 
                tr 
                    th='#ID'
                    th='Nombre'
                    th='Precio'
                    th='Imagen'
                for product in products
                    tr
                        td=product.id
                        td=product.title
                        td=product.price
                        td=product.thumbnail
        else 
            h2='No hay productos'